@model IEnumerable<Moses.Models.Pie>

@{
    ViewBag.Title = "Index";
}
    <div class="row">
        <div class="container-fluid head">
            @using (Html.BeginForm())

            {
                <h4>Name</h4>
                <p>
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Search Pies" />
                </p>
            }
        </div>
    </div>


<div>

</div>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>@item.Name</h4>
            <div class="data">
                <img src="@item.ImgUrl" class="img-thumbnail img-responsive" alt="Pies-Images" />
                <p>@item.ShortDescription</p>
            </div>
            <div>
                <h4 class="text-right">@item.Price.ToString("c")</h4>
                <button class="btn">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </button>
            </div>
        </div>
    }
</div>

